body {
  background: whitesmoke;
  font-family: sans-serif;
  overflow-y: scroll;
}

#addNew {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  color: whitesmoke;
  background: #a47fc4;
}

#addNew:hover{
  cursor: pointer;
}

.newRecipe {
  margin: 10px auto 0 auto;
  background: white;
  width: 275px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 1px 10px 5px rgba(0,0,0,0.1);
  display: none;
}

.newRecipe input[type="text"] {
  width: 90%;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.newRecipe button {
  border: none;
  margin: 5px;
  background: #4286f4;
  color: whitesmoke;
  padding: 5px;
  border-radius: 3px;
  outline: none;
}

.newRecipe button:hover {
  cursor: pointer;
}

.recipe {
  margin: 25px  auto;
  padding: 0;
  display: block;
  width: 300px;
  background: none;
}

.recipe li {
  position: relative;
  list-style-type: none;
  background: white;
  display: block;
  width: 300px;
  margin: 25px 0;
}

.recipe li input[type="button"] {
  /*height: 25px;*/
  /*width: 25px;*/
  position: absolute;
  background: none;
  border: none;
  color: whitesmoke;
  text-align: center;
  font-size: 16px;
  font-family: "FontAwesome";
  opacity: 0.3;
}

.del {
  right: 5px;
  top: 7px;
}

.edit {
  right: 25px;
  top: 8px;
}

.recipe li input[type=button]:hover {
  cursor: pointer;
  opacity: 1;
}

.title {
  background: #4286f4;
  display: block;
  padding: 10px;
  color: whitesmoke;
  border-radius: 3px;
  font-weight: bold;
}

.ingredients {
  margin: 0;
  padding: 0 0 0 10px;
  display: none;
}

.ingredients  li {
  width: auto;
  margin: 0;
  padding: 5px;
}